html {
	font-family: 'Open Sans', sans-serif;
}

body {
background-image: url(img/bg.png);
background-repeat: no-repeat;
background-size: cover;
width: 100%;
margin: 0;
}

p {
color: #fff;
margin: 8px;
font-size: 15px;
font-family:fantasy;
}




h3 {
	font-family: sans-serif;
	margin: 10px;
	color: #fff;
	font-size: 14px;
}

h2 {
	color: #fff;
	font-size: 18px;
}

ul {
	display: block;
	margin: 12px;
	font-family:sans-serif;
}

div.midleTextBox {
position:absolute;
top:0;left:0;right:0;bottom:0;
display: flex;
align-items: center;
justify-content:center
}


button.submit {
font-size: 35px;
padding: 12px;
background-color: #f4f3f3;
border-radius: 12px;
color: #333333; 
font-family: sans-serif;
}

button.cancel {
font-size: 35px;
padding: 12px;
background-color: #f44336;
border-radius: 12px;
color: black; 

}

button.cancel:hover {
font-size:35px;
background-color: #f44336;
border-radius: 12px;
color: white; 
}

button.submit:hover {
font-size: 35px;
background-color: #fff;
border-radius: 12px;
color: black; 
}

button.buttonChoseTime {
font-size: 29px;
padding: 7px;
background-color: #fff;
border-radius: 8px;
}

input[type=password] {
padding:10px; 
border:2px solid #ccc; 
-webkit-border-radius: 5px;
border-radius: 15px;
font-size: 40px;
width: 400px;
min-width: 100px;
text-align: center;
}

input[type=text]:focus {
border-color:#333;
}


.container {
width: 100%;
margin: auto;
padding-top: 1%;
padding-bottom: 1%;
}

.row {
width: 100%;
display: flex;
flex-wrap: wrap;

/*align-items: center;*/
}

.row::after {
display: table;
clear: both;
content: "";

}

.col-1 {width: 8.33%};
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

.headerCol-1 {width: 23.6%}
.headerCol-2 {width: 14.6%}
.headerCol-3 {width: 38.2%}
.headerCol-4 {
	width: 14.6%;
	text-align: center;

}
.headerCol-5 {
	width: 9%;
	text-align: center;
	vertical-align: middle;
	
}

.midCol-1,
.midCol-2 {
	text-align: center;
	width: 38.2%;
}
.midCol-3 {
	text-align: center;
	vertical-align:top;
	width: 23.6%;
}

* {
box-sizing: border-box;
}

div.bottomColum {
color: white;
text-align:center;

}

.rightgButton {
text-align: right;
margin: 55px;
}

.footer { 
position: fixed;     
/*   text-align: center;    */
bottom: 40px; 
color: #fff;
width: 100%;
}  

.navbar {
display: block;
overflow: hidden;
background-color: #333;
position: fixed;
bottom: 0;
width: 99%;
margin: 12px 10px 30px 10px;
border-radius: 4px;
}



.main {
padding: 16px;
}

.imageView {
width: 5%;
float: left;
display: block;
padding: 9px 6px;
margin: 5px;
}

/*Seccond screen view*/

div.boxView {
text-align: center;
margin: 24px;
padding: 36px 24px 40px 34px;
border-radius: 7px;
background-color: #fff;
box-shadow: 0 0 0 1px rgba(0,0,0,.15),
0 2px 3px 0 rgba(0,0,0,.1);
}

.container {
width: 100%;
/*margin: auto;*/
padding-top: 4%;
padding-bottom: 4%;
}

div.leftSide-col {
color: #fff;
	padding: 10px;
}

div.rightSide-col {
margin-left: 5%;
color: #fff;
}

.avatar {
vertical-align: middle;
padding: 5px;
text-align: center;
width: 90px;
border-radius: 50%;
 box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
text-align: center;
}

.headerLogo {
	width: 60%;
	margin: 20px;
	text-align: right;
}


#section-1-gradient {
margin: 9px;
padding: 10px 20px 10px 10px;
border-radius: 7px;
background-color: #333;
box-shadow: 0 0 0 1px rgba(0,0,0,.15),
0 2px 3px 0 rgba(0,0,0,.1);
width: 99%;
}

.gmStatus {
text-align: center;
	margin: 0;
}

.gmBox {
text-align: center;
vertical-align: middle;
width: 100%;
padding: 10px 70px;
margin: 5px;
background-color: yellow;
color: black;
font-size: 23px;
	border-radius: 5px;
	font-family: fantasy
}

.columnItems {
  float: left;
  width: 50%;
  padding: 1px;
	
/*  height: 300px;  Should be removed. Only for demonstration */
}

/* Clear floats after the columns */
.itemsRow:after {
  content: "";
  display: table;
  background-color: #fff;
}


/* Gauges */

 #g1 {
        width:400px; height:320px;
        display: inline-block;
        margin: 1em;

      }

      #g2, #g4 {
        width:400px; height:320px;
        display: inline-block;
        margin: 1em;
	
      }

#g3 {
	width:300px; height:220px;
        display: inline-block;
        margin: 1em;
	
}

      p {
        display: block;
        width: 450px;
      }


.col-4 {
	text-align: center;
}

.col-3,
.col-2,
.col-1,
.col-6 {
	padding: 10px;
}

div.box {
    text-align: center;
    margin: 4px;
    padding: 20px;
    border-radius: 7px;
    background-color: #fff;
    box-shadow: 0 0 0 1px rgba(0,0,0,.15),
        0 2px 3px 0 rgba(0,0,0,.1);
}

div.icon {
    width: 100%;
}

.changeOver {
	color: black;
	text-align: center;
}


/*########## MOBILE ###########*/

@media screen and (max-height: 600px) {
	 #g1 {
        width:350px; height:190px;
        display: inline-block;
        margin: 1em;

      }

      #g2, #g4 {
        width:280px; height:190px;
        display: inline-block;
        margin: 1em;
	
      }

#g3 {
	width:150px; height:100px;
        display: inline-block;
        margin: 1em;
	
}
	
}